.prodotto {


    background-color: red;

    border: 2px solid green;

}



#prodottijs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;



}

img {

    width: 100%;
}

tr td {background-color: red;};

tr:nth-child(odd) td{background-color: yellow;};